*{
    box-sizing: border-box;
    user-select: none;
    color: white;
}
:root{
    font-family:"consolas";
    background-color: #030303;
}
body{
    margin: 0px;
}
h1, h2, h3, h4, h5{
    margin: 0px;
}
a{
    text-decoration: none;
}
input, textarea{
    outline:none;
    font-family:"consolas";
}

button{
    font-size: 14px;
    padding: 0.5em 4em;
    border-radius: 5px;
    background-color: #008c8c;
    box-shadow: none;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #afafaf;
    color: #008c8c;
}
